.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 10px auto 40px;
}

.header {
    padding: 8px;
    background-color: #cbefe7;
    font-size: 2em;
}

.primaryContentContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.priceContainer {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    margin-left: 25px;
}

.priceContainer p {
    margin-top: 5px;
}
