.container {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 20px;
}

.suggestionsContainer {
    display: flex;
    width: 800px;
    border-radius: 10px;
    border: 1px solid black;
}

.suggestionsContainer>div:first-child {
    width: 150px;
    padding: 10px;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.suggestionsContainer>div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.suggestionsContainer img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.category {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.category::first-letter {
    text-transform: capitalize;
}

.category:hover {
    background-color: rgb(208, 241, 208);
}

.littleProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    width: 175px;
    height: 175px;
    background-color: #0001
}

.littleProduct:hover {
    background-color: rgb(247, 227, 230);

}