.header {
  font-size: 2em;
}

#itemTable {
  width: 600px;
  border-collapse: collapse;
}

#itemTable th,
#itemTable td {
  border: 1px solid black;
  text-align: left;
  font-weight: normal;
  padding: 2px 8px;
}

#itemTable td:first-child,
#itemTable th:first-child {
  width: 70%;
}

#itemTable tr:last-child,
#itemTable tr:last-child td {
  border: none;
  font-weight: bold;
  padding-top: 10px;
}

.formsRow {
  display: flex;
  gap: 20px;
}

.inputForm label {
  display: inline-block;
  width: 145px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.inputForm label::after {
  content: ":";
}