#SearchContainer {
    display: flex;
    margin-bottom: 20px;
}

.searchResultContainer {
    margin: auto;
    align-content: start;
    margin-top: 2.6%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    gap: 2rem;
}

.searchResult {
    background-color: rgba(203, 239, 231, 0.3);
    border-radius: 15px;
    height: 26rem;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.searchResult:hover {
    background-color: rgba(203, 239, 231, 0.8);
}

.searchResult:nth-of-type(even) {
    background-color: rgba(230, 230, 250, 0.3);
}

.searchResult:nth-of-type(even):hover {
    background-color: rgba(230, 230, 250, 0.8);
}

.searchResult > h1 {
    text-align: center;
}

.productImage {
    display: block;
    margin: auto;
    object-fit: contain;
}

.productTitle {
    font-size: 1.4rem;
}

.productDesc {
    user-select: none;
    text-align: center;
    margin-bottom: 3%;
}

.productPrice {
    user-select: none;
    font-size: 1.5rem;
}

#FilterContainer {
    margin: 10px auto;
    width: 200px;
    user-select: none;
}

#ResultsDisplay {
    font-size: 1.2rem;
}

#ResultsDisplay>span {
    font-weight: bold;
}

#Categories {
    margin: auto;
    outline: black solid 1px;
    padding: 0;
    list-style: none;
}

.category {
    border-bottom: black 1px solid;
}

.categoryHeader {
    font-size: 150%;
    cursor: pointer;
    padding: 2% 3%;
    margin: 0;
}

.category:last-of-type {
    border-bottom: 0;
}

.options {
    overflow: hidden;
    margin: 0 5%;
    list-style: none;
    padding: 0;
    transition: max-height .75s ease-in-out;
}

.options.collapsed {
    max-height: 0;
}

.options.expanded {
    max-height: 500px;
}

.option {
    cursor: pointer;
    padding: .5%;
    margin: 2.5% 0;
    text-transform: capitalize;
}

.option.selected {
    background-color: #cbefe7;
}

.option:hover:not(.selected) {
    background-color: #0002;
}
